extends layout
block content
    h1= title
    - let microphoneid = toShow._id
    - let microphone_name = toShow.microphone_name
    - let microphonecost = toShow.cost
    - let microphoneeasytouse = toShow.easyToUse
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{microphoneid}
    - let actionid = "/resource/microphones/" + microphoneid
    form(id='MicrophoneForm', action= actionid, method="PUT")
        div.form-group
            label.microphoneAttr(for='microphone_name') Microphone type
            input#microphone_name(type='text', name='microphone_name', value= microphone_name )
        div.form-group
            label.microphoneAttr(for='easyToUse') Microphone Easy To Use
            input#easyToUse(type='text', name='easyToUse', value= microphoneeasytouse )
        div.form-group
            label.microphoneAttr(for='cost') Microphone cost
            input#cost(type='number', name='cost', value= microphonecost )
        input(type="submit")
    script.
        document.forms['MicrophoneForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
            });
        });